In [66]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


# Modelling-
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso,ElasticNet
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split,GridSearchCV, RandomizedSearchCV

In [2]:
train_data=pd.read_csv("data/Train.csv")
test_data=pd.read_csv("data/Test (1).csv")

In [3]:
train_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [59]:
X_train=train_data.drop(labels=['Item_Outlet_Sales','Item_Identifier'],axis=1)

In [60]:
y_train=train_data['Item_Outlet_Sales']

In [61]:
y_train

0       3735.1380
1        443.4228
2       2097.2700
3        732.3800
4        994.7052
          ...
8518    2778.3834
8519     549.2850
8520    1193.1136
8521    1845.5976
8522     765.6700
Name: Item_Outlet_Sales, Length: 8523, dtype: float64

In [62]:
test_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [58]:
X_test=test_data.drop(['Item_Identifier'],axis=1)

In [36]:
categroical_cols=X_train.select_dtypes(include='object').columns
numrical_cols=X_train.select_dtypes(exclude='object').columns

In [38]:
categroical_cols

Index(['Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size',
       'Outlet_Location_Type', 'Outlet_Type'],
      dtype='object')

In [44]:

Item_Fat_Content = X_train['Item_Fat_Content'].unique().tolist()
Item_Type=X_train['Item_Type'].unique().tolist()
Outlet_Identifier=X_train['Outlet_Identifier'].unique().tolist()
Outlet_Size=X_train['Outlet_Size'].unique().tolist()
Outlet_Location_Type=X_train['Outlet_Location_Type'].unique().tolist()
Outlet_Type=X_train['Outlet_Type'].unique().tolist()

In [47]:
num_pipline= Pipeline(

    steps=[

        ('imputer',SimpleImputer()),
        ('scaler',StandardScaler())
    ]
)

In [49]:
cat_pipline=Pipeline(

    steps=[
        
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('ordinaencoder',OrdinalEncoder(categories=[Item_Fat_Content, Item_Type, Outlet_Identifier, Outlet_Size,
       Outlet_Location_Type, Outlet_Type]))
        
    ]
)

In [50]:
preprocessor=ColumnTransformer(

    [

        ('num_pipline',num_pipline,numrical_cols),
        ('cat_pipline',cat_pipline,categroical_cols)
    ]
)

In [51]:
preprocessor.fit_transform(X_train)

array([[-0.84187169, -0.97073217,  1.74745381, ...,  0.        ,
         0.        ,  0.        ],
       [-1.64170589, -0.90811123, -1.48902325, ...,  0.        ,
         1.        ,  1.        ],
       [ 1.09855449, -0.95691733,  0.01004021, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.53424315, -0.59978449, -0.89720755, ...,  3.        ,
         2.        ,  0.        ],
       [-1.33644372,  1.53287976, -0.60797692, ...,  0.        ,
         1.        ,  1.        ],
       [ 0.45963367, -0.41193591, -1.05226104, ...,  3.        ,
         0.        ,  0.        ]])

In [53]:
preprocessor.transform(X_train)

array([[-0.84187169, -0.97073217,  1.74745381, ...,  0.        ,
         0.        ,  0.        ],
       [-1.64170589, -0.90811123, -1.48902325, ...,  0.        ,
         1.        ,  1.        ],
       [ 1.09855449, -0.95691733,  0.01004021, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.53424315, -0.59978449, -0.89720755, ...,  3.        ,
         2.        ,  0.        ],
       [-1.33644372,  1.53287976, -0.60797692, ...,  0.        ,
         1.        ,  1.        ],
       [ 0.45963367, -0.41193591, -1.05226104, ...,  3.        ,
         0.        ,  0.        ]])

In [54]:
preprocessor.get_feature_names_out()

array(['num_pipline__Item_Weight', 'num_pipline__Item_Visibility',
       'num_pipline__Item_MRP', 'num_pipline__Outlet_Establishment_Year',
       'cat_pipline__Item_Fat_Content', 'cat_pipline__Item_Type',
       'cat_pipline__Outlet_Identifier', 'cat_pipline__Outlet_Size',
       'cat_pipline__Outlet_Location_Type', 'cat_pipline__Outlet_Type'],
      dtype=object)

In [64]:
X_test.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [65]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [67]:

models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet()
}

In [68]:
trained_model_list=[]
model_list=[]
r2_list=[]

In [69]:
for i in range(len(list(models))):
    model=list(models.values())[i]
    print(model)

LinearRegression()
Lasso()
Ridge()
ElasticNet()